apiVersion: v1
kind: Service
metadata:
  name: spring-service
  labels:
    app: spring          
spec:
  type: LoadBalancer
  selector:
    app: spring 
    version: blue
  ports:
  - name: http           # REQUIRED: referenced by ServiceMonitor
    port: 80
    targetPort: 8080
